h1 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 50px;
}
p {
    text-align: center;
    font-size: 20px;
    padding: 20px 35px;
}
#continuar {
 
}
.btn-xl {
      padding: 14px 24px;
    font-size: 25px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-top: 50px;
}