form{
	padding-top: 100px;
}
input{
	margin: 10px 0;
}
#favorito {
  color: orange;
    font-size: 5em;
    position: absolute;
    right: 30px;
    bottom: 165px;
}

#favorito span {
  border: 4px solid orange;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;

}